<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/frame-44.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kite One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-root">
      <div class="frame-child1"></div>
      <button class="create">Create</button
      ><button class="feed-wrapper"><div class="feed">Feed</div></button
      ><button class="home-wrapper"><div class="home1">Home</div></button
      ><input
        class="group-input"
        type="search"
        placeholder="Search..."
      /><button class="categories">Categories</button
      ><button class="chart-topping-wrapper">
        <div class="chart-topping">Chart-Topping</div></button
      ><button class="ellipse-parent">
        <img class="ellipse-icon" alt="" src="../static/styles/public/ellipse-19.svg" /><img
          class="untitled-1-1-icon"
          alt=""
          src="../static/styles/public/untitled1-1@2x.png"
        />
      </button>
      <div class="search">Search...</div>
      <img
        class="zr196zrlqnna1-1-icon"
        alt=""
        src="../static/styles/public/zr196zrlqnna1-1@2x.png"
      /><button class="icon-comment-square">
        <img
          class="vector-icon"
          alt=""
          src="../static/styles/public/-icon-comment-square.svg"
        /></button
      ><button class="icon-bookmark">
        <img class="vector-icon" alt="" src="../static/styles/public/vector.svg" /><img
          class="vector-icon"
          alt=""
          src="../static/styles/public/-icon-bookmark.svg"
        /></button
      ><button class="social">
        <img
          class="vector-icon"
          alt=""
          src="../static/styles/public/roundsocialshare.svg"
        /></button
      ><button class="comments">27 Comments</button
      ><button class="share">Share</button><button class="save">Save</button
      ><button class="free-icon-1-2-2">
        <img class="id-101-icon2" alt="" src="../static/styles/public/id-1012.svg" /></button
      ><button class="id-101-wrapper">
        <img class="vector-icon" alt="" src="../static/styles/public/id-1013.svg" />
      </button>
      <div class="div1">100</div>
      <button class="ellipse-group">
        <img class="ellipse-icon" alt="" src="../static/styles/public/ellipse-19.svg" />
        <div class="vv">VV</div>
      </button>
      <div class="free-icon-1-2-3"></div>
      <div class="is-this-a">Is this a hot mess? Or worth continuing?</div>
      <div class="varshita-verma">varshita verma</div>
      <button class="ellipse-container">
        <img class="ellipse-icon" alt="" src="../static/styles/public/ellipse-19.svg" />
        <div class="vv1">VV</div></button
      ><img
        class="icon-bookmark2"
        alt=""
        src="../static/styles/public/-icon-bookmark1.svg"
      /><img class="icons" alt="" src="../static/styles/public/icons.svg" /><img
        class="icon-comment-square2"
        alt=""
        src="../static/styles/public/-icon-comment-square1.svg"
      /><img class="vector-icon1" alt="" src="../static/styles/public/vector1.svg" />
      <div class="frame-child4"></div>
      <div class="frame-child5"></div>
      <div class="frame-child6"></div>
      <div class="frame-child7"></div>
      <div class="frame-child8"></div>
      <div class="frame-child9"></div>
      <div class="frame-child10"></div>
      <div class="frame-child11"></div>
      <img class="frame-child12" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="rc">VV</div>
      <img class="frame-child13" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="vb">VB</div>
      <img class="frame-child14" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="jl">JL</div>
      <img class="frame-child12" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="rc">VV</div>
      <img class="frame-child12" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="rc">RC</div>
      <img class="frame-child17" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="tl">TL</div>
      <img class="frame-child18" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="kk">KK</div>
      <img class="frame-child19" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="dk">DK</div>
      <img class="frame-child20" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="as">AS</div>
      <img class="frame-child21" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="ga">GA</div>
      <div class="the-art-of">
        The art of watercolors is the mess. It looks beautiful so far, I look
        forward to seeing it when it's finished.
      </div>
      <div class="eac-dude">EAC DUDE!</div>
      <div class="agreed">Agreed</div>
      <div class="so-true">So True !!!</div>
      <div class="div2">100</div>
      <img class="id-101-icon4" alt="" src="../static/styles/public/id-101.svg" /><img
        class="id-101-icon5"
        alt=""
        src="../static/styles/public/id-1011.svg"
      />
      <div class="frame-child22"></div>
      <div class="reply1">Reply...</div>
      <div class="div3">100</div>
      <img class="id-101-icon6" alt="" src="../static/styles/public/id-101.svg" /><img
        class="id-101-icon7"
        alt=""
        src="../static/styles/public/id-1011.svg"
      />
      <div class="frame-child23"></div>
      <div class="reply2">Reply...</div>
      <div class="div4">100</div>
      <img class="id-101-icon8" alt="" src="../static/styles/public/id-101.svg" /><img
        class="id-101-icon9"
        alt=""
        src="../static/styles/public/id-1011.svg"
      />
      <div class="frame-child24"></div>
      <div class="reply3">Reply...</div>
      <div class="div5">100</div>
      <img class="id-101-icon10" alt="" src="../static/styles/public/id-101.svg" /><img
        class="id-101-icon11"
        alt=""
        src="../static/styles/public/id-1011.svg"
      />
      <div class="frame-child25"></div>
      <div class="reply4">Reply...</div>
      <div class="div6">100</div>
      <img class="id-101-icon12" alt="" src="../static/styles/public/id-101.svg" /><img
        class="id-101-icon13"
        alt=""
        src="../static/styles/public/id-1011.svg"
      />
      <div class="frame-child26"></div>
      <div class="reply5">Reply...</div>
      <div class="div7">100</div>
      <img class="id-101-icon14" alt="" src="../static/styles/public/id-101.svg" /><img
        class="id-101-icon15"
        alt=""
        src="../static/styles/public/id-1011.svg"
      />
      <div class="frame-child27"></div>
      <div class="reply6">Reply...</div>
      <div class="div8">100</div>
      <img class="id-101-icon16" alt="" src="../static/styles/public/id-101.svg" /><img
        class="id-101-icon17"
        alt=""
        src="../static/styles/public/id-1011.svg"
      />
      <div class="frame-child28"></div>
      <div class="reply7">Reply...</div>
      <div class="div9">100</div>
      <img class="id-101-icon18" alt="" src="../static/styles/public/id-101.svg" /><img
        class="id-101-icon19"
        alt=""
        src="../static/styles/public/id-1011.svg"
      />
      <div class="frame-child29"></div>
      <div class="reply8">Reply...</div>
      <div class="whats-eac">
        <p class="finding-nemo-reference">What’s EAC?</p>
      </div>
      <div class="finding-nemo-reference-container">
        <p class="finding-nemo-reference">Finding Nemo reference</p>
      </div>
      <div class="the-art-of1">
        The art of watercolors is the mess. It looks beautiful so far, I look
        forward to seeing it when it's finished.
      </div>
      <div class="its-gorgeous-i-container">
        <p class="finding-nemo-reference">
          It’s gorgeous! I love the colors!! f you have a white gel pen maybe
          add highlights? Up to you! It’s great either way!
        </p>
      </div>
      <div class="frame-wrapper">
        <div class="rectangle-container">
          <div class="frame-child30"></div>
          <img class="frame-child31" alt="" src="../static/styles/public/ellipse-19.svg" />
          <div class="mt1">MT</div>
          <div class="absolutely-worth-continuing">
            absolutely worth continuing! Or calling it good the way it is. In my
            opinion as a watercolor artist I try to avoid...
          </div>
          <div class="div10">100</div>
          <img class="id-101-icon20" alt="" src="../static/styles/public/id-101.svg" /><img
            class="id-101-icon21"
            alt=""
            src="../static/styles/public/id-1011.svg"
          />
          <div class="frame-child32"></div>
          <div class="reply9">Reply...</div>
          <div class="frame-div" id="frameContainer">
            <div class="frame-child33"></div>
            <div class="read-more">Read more</div>
          </div>
        </div>
      </div>
      <div class="group-div">
        <div class="group-child"></div>
        <div class="more">More</div>
        <img class="id-101-icon22" alt="" src="../static/styles/public/id-1014.svg" />
      </div>
      <div class="frame-child34"></div>
      <div class="comment-as-varshita1299">comment as @varshita1299</div>
      <img class="frame-child35" alt="" src="../static/styles/public/ellipse-18.svg" />
      <div class="vv4">VV</div>
      <div class="share-your-thoughts">Share your thoughts...</div>
      <div class="dom-cxjtv9qip6m-unsplash-2"></div>
      <div class="categories1">Categories</div>
      <div class="frame-child36"></div>
      <div class="frame-child37"></div>
      <div class="filters">Filters</div>
      <button class="group-parent">
        <img class="group-icon" alt="" src="../static/styles/public/group-54.svg" />
        <div class="most-viewed">Most Viewed</div></button
      ><button class="group-container">
        <img class="group-icon" alt="" src="../static/styles/public/group-54.svg" />
        <div class="most-viewed">Saved</div></button
      ><button class="frame-button">
        <img class="group-icon" alt="" src="../static/styles/public/group-54.svg" />
        <div class="most-upvoted">Most Upvoted</div></button
      ><button class="group-parent1">
        <img class="group-icon" alt="" src="../static/styles/public/group-54.svg" />
        <div class="most-downvoted">Most Downvoted</div></button
      ><button class="group-parent2">
        <img class="group-icon" alt="" src="../static/styles/public/group-54.svg" />
        <div class="your-upvoted">Your Upvoted</div></button
      ><button class="group-parent3">
        <button class="group-button">
          <div class="group-item"></div>
          <img class="group-inner" alt="" src="../static/styles/public/ellipse-1.svg" /><img
            class="group-child1"
            alt=""
            src="../static/styles/public/ellipse-2.svg"
          />
        </button>
        <div class="your-downvoted">Your Downvoted</div>
      </button>
    </div>

    <div id="frameContainer" class="popup-overlay" style="display: none">
      <div class="rectangle-parent">
        <div class="frame-child" id="popuprectangle"></div>
        <img class="frame-item" alt="" src="../static/styles/public/ellipse-19.svg" />
        <div class="mt">MT</div>
        <div class="absolutely-worth-continuing-container">
          <span
            >absolutely worth continuing! Or calling it good the way it is. In
            my opinion as a watercolor artist I try to avoid criticism from
            realism watercolor because i have an entirely different</span
          ><span class="span1"> </span
          ><span>
            style. I can still tell it’s a turtle, and how bold and bright the
            colors are!</span
          >
        </div>
        <div class="div">100</div>
        <img class="id-101-icon" alt="" src="../static/styles/public/id-101.svg" /><img
          class="id-101-icon1"
          alt=""
          src="../static/styles/public/id-1011.svg"
        />
        <div class="frame-inner"></div>
        <div class="reply">Reply...</div>
        <div class="rectangle-group">
          <div class="rectangle-div" id="popuprectangle2"></div>
          <div class="read-less">Read less</div>
        </div>
      </div>
    </div>

    <script>
      var popuprectangle = document.getElementById("popuprectangle");
      if (popuprectangle) {
        popuprectangle.addEventListener("click", function (e) {
          window.location.href = "frame-44.html";
        });
      }
      
      var popuprectangle2 = document.getElementById("popuprectangle2");
      if (popuprectangle2) {
        popuprectangle2.addEventListener("click", function (e) {
          window.location.href = "frame-44.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function () {
          var popup = document.getElementById("frameContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      </script>
  </body>
</html>
