<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/frame-85.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kite One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-parent">
      <div class="frame-child" id="popuprectangle"></div>
      <img class="frame-item" alt="" src="../static/styles/public/ellipse-19.svg" />
      <div class="mt">MT</div>
      <div class="absolutely-worth-continuing-container">
        <span
          >absolutely worth continuing! Or calling it good the way it is. In my
          opinion as a watercolor artist I try to avoid criticism from realism
          watercolor because i have an entirely different</span
        ><span class="span1"> </span
        ><span>
          style. I can still tell it’s a turtle, and how bold and bright the
          colors are!</span
        >
      </div>
      <div class="div">100</div>
      <img class="id-101-icon" alt="" src="../static/styles/public/id-101.svg" /><img
        class="id-101-icon1"
        alt=""
        src="../static/styles/public/id-1011.svg"
      />
      <div class="frame-inner"></div>
      <div class="reply">Reply...</div>
      <div class="rectangle-group">
        <div class="rectangle-div" id="popuprectangle2"></div>
        <div class="read-less">Read less</div>
      </div>
    </div>

    <script>
      var popuprectangle = document.getElementById("popuprectangle");
      if (popuprectangle) {
        popuprectangle.addEventListener("click", function (e) {
          window.location.href = "./frame-44.html";
        });
      }
      
      var popuprectangle2 = document.getElementById("popuprectangle2");
      if (popuprectangle2) {
        popuprectangle2.addEventListener("click", function (e) {
          window.location.href = "./frame-44.html";
        });
      }
      </script>
  </body>
</html>
